@{
    var Conn = Database.Open("Dashboard");
    Layout = "~/Protected/_Site_Layout.cshtml";
    Page.Title = "Dashboard";
    // script de seguridad
 //   string Nombre_pagina = Convert.ToString(Path.GetFileNameWithoutExtension(Request.Path));
  //  if (@Functions.SeguridadAccesoRecursos(Nombre_pagina) == false) { Response.Redirect("AdminError"); }
}





<div class="content-wrapper">
    <section class="content-header">
        <h1> Template  <small>Datos generales en tiempo real.</small> </h1>
        <ol class="breadcrumb"> 
        <li><a href="~/Protected/default" title="Inicio"><i class="fa fa-dashboard"></i>Inicio</a></li> 
            <li><a href="#" class="active" title="Administración de actas de la CNH">Adm. Actas</a></li> 
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">



            </div>
        </div>
    </section>

</div>





@{
    Conn.Close();
    Conn.Dispose();
}