@{
    Layout = "_Site_Layout.cshtml";
    Page.Title = "Notificaciones";
    string id = "";
    var Conn = Database.Open("Dashboard");
    id = Request.Form["id"];
    // script de seguridad
    Functions.SeguridadAccesoRecursos(Convert.ToString(Path.GetFileNameWithoutExtension(Request.Path)));


    if (IsPost) {
        if (Request.QueryString["id"] != "")
        {
            var sqlText05 = "SELECT * FROM TNotificaciones_leidas WHERE id_Tnotificaciones=@0 and id_UserProfile=@1";
            var C05 = Conn.QuerySingle(sqlText05, id, WebSecurity.CurrentUserId);
            if (C05 == null)
            {
                var insertCommand = "INSERT TNotificaciones_leidas(id_UserProfile,id_Tnotificaciones,leido) Values(@0,@1,@2)";
                Conn.Execute(insertCommand, WebSecurity.CurrentUserId, id, 1);
            }
        }
    }

}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Notificaciones
            <small>Notificaciones sobre sus prestamos</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="Inicio" title="Inicio"><i class="fa fa-dashboard"></i>Inicio</a></li>
            <li><a href="#" title="Notificaciones"><i class="fa  fa-comment"></i>Notificaciones</a></li>

        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Sistema de notificaciones</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="box-body">
                        @{
                            DateTime fecha = Convert.ToDateTime("1975/12/27");
                            var titulo_notificacion = "";
                            var texto_notificacion = "";
                            var id_UserProfile = 0;
                            var anno = 0;
                            var mes = 0;
                            var dia = 0;
                            var fecha_formateada = "";


                            var sqlText0 = "SELECT * FROM TNotificaciones WHERE id_notificaciones=@0";
                            var C0 = Conn.QuerySingle(sqlText0, id);
                            if (C0 != null)
                            {
                                titulo_notificacion = C0.titulo_notificacion.ToUpper();
                                texto_notificacion = C0.texto_notificacion.ToUpper();
                                fecha = C0.fecha_notificacion;
                                id_UserProfile = C0.id_UserProfile;

                            }
                            anno = fecha.Year;
                            mes = fecha.Month;
                            dia = fecha.Day;
                            fecha_formateada = dia + " DE " + @Functions.MesTraduccion(mes).ToUpper() + " DE " + anno;
                        }
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="disabledInput">Fecha:</label><br>
                                <div class="col-xs-6">
                                    <input type="tel" class="form-control textbox" disabled value="@fecha_formateada" name="particular" maxlength="30" id="particular" placeholder="Teléfono particular" />
                                </div>
                            </div><br>
                            <div class="form-group">
                                <label class="control-label" for="disabledInput">Título:</label><br>
                                <div class="col-xs-12">
                                    <input type="tel" class="form-control textbox" disabled value="@titulo_notificacion" name="particular" maxlength="30" id="particular" placeholder="Teléfono particular" />
                                </div>
                            </div><br>
                            <div class="form-group">
                                <strong>Noticia:</strong><br>
                                <div class="form-group"><textarea disabled name="habilidades" class="form-control  textbox" rows="9" maxlength="500" id="habilidades" title="habilidades">@texto_notificacion</textarea></div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <input type="button" id="ver" class="btn  bg-purple align-right" value="Regresar" onClick="location.href = 'Notificaciones_menu?resource=@Request.QueryString["resource"]' ">
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                Al entrar a esta sección se considera que ya vio el mensaje.
            </div>
        </div>





    </section>
</div>


@{ Conn.Close();
    Conn.Dispose();
}