@{
    Layout = "_Site_Layout.cshtml";
    PageData["Title"] = "Sin permiso";

}




<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            SIN PERMISO
            <small>Restricción de acceso a recursos.</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="Inicio" title="Inicio"><i class="fa fa-dashboard"></i>Inicio</a></li>
            <li class="active"><a href="#" title="Sin permiso"><i class="fa fa-thumbs-down"></i>Sin permiso</a></li>

        </ol>
    </section>
    <!-- Main content -->
    <section class="content">



        <div class="alert alert-error alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="fa fa-frown-o"></i>  Error!</h4>
            Usted no tiene permiso para acceder a este recurso, favor de regresar.
        </div>


    </section>
</div>

